<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Login Concluído</title>
    <link rel="stylesheet" href="{{ url_for('static', path='style.css') }}"> 
</head>
<body>
    <a href="/developer">
        <div class="container">
            <div class="developer">Developer</div>
        </div>
    </a>
    <a href="/developer">
        <div class="container">
            <div class="operation">Operation</div>
        </div>
    </a>
    <a href="/developer">
        <div class="container">
            <div class="manager">Manager</div>
        </div>
    </a>
    <a href="/developer">
        <div class="container">
            <div class="owner">Owner</div>
        </div>
    </a>
</body>
</html>